aeppl @ file:///home/conda/feedstock_root/build_artifacts/aeppl_1652664364498/work
aesara @ file:///D:/bld/aesara_1655544602620/work
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arviz @ file:///home/conda/feedstock_root/build_artifacts/arviz_1657673190308/work
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
bambi @ file:///home/conda/feedstock_root/build_artifacts/bambi_1661775306575/work
beautifulsoup4==4.11.1
best==2.0.5
bleach==5.0.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1660055382950/work
certifi==2022.9.24
cffi==1.15.0
cftime @ file:///D:/bld/cftime_1656803766614/work
charset-normalizer==3.1.0
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1662587369221/work
colorama==0.4.4
cons @ file:///home/conda/feedstock_root/build_artifacts/cons_1642650890595/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
deprecat==2.1.1
dill==0.3.4
docopt==0.6.2
entrypoints==0.4
etuples @ file:///home/conda/feedstock_root/build_artifacts/etuples_1662525407359/work
executing==0.8.3
fastjsonschema==2.15.3
fastprogress @ file:///home/conda/feedstock_root/build_artifacts/fastprogress_1658690818839/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1660129891014/work
fonttools @ file:///D:/bld/fonttools_1661381554081/work
formulae @ file:///home/conda/feedstock_root/build_artifacts/formulae_1652968848219/work
graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1636290550094/work
idna==3.4
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.4.0
jupyter-client==7.3.0
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kiwisolver @ file:///D:/bld/kiwisolver_1657953200729/work
llvmlite==0.38.1
logical-unification @ file:///home/conda/feedstock_root/build_artifacts/logical-unification_1642642906224/work
Mako @ file:///tmp/build/80754af9/mako_1610650590832/work
MarkupSafe @ file:///C:/ci/markupsafe_1621528502553/work
matlabengineforpython===r2022a
matplotlib @ file:///D:/bld/matplotlib-suite_1660353846959/work
matplotlib-inline==0.1.3
miniKanren @ file:///home/conda/feedstock_root/build_artifacts/minikanren_1642650904995/work
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
multipledispatch==0.6.0
munkres==1.1.4
nbclient==0.6.2
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netCDF4 @ file:///D:/bld/netcdf4_1656506260898/work
NEURON==8.0
notebook==6.4.11
numba==0.55.2
numpy==1.21.6
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas @ file:///D:/bld/pandas_1656001279371/work
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.2
pickleshare==0.7.5
Pillow @ file:///D:/bld/pillow_1652815137200/work
pipreqs==0.4.13
prometheus-client==0.14.1
prompt-toolkit==3.0.29
psutil==5.9.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.12.0
pygpu==0.7.6
pymc @ file:///D:/bld/pymc-suite_1656882822222/work
pymc3==3.11.5
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyrsistent==0.18.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1664798238822/work
pywin32==304
pywinpty==2.0.5
pyzmq==22.3.0
requests==2.30.0
scipy @ file:///C:/ci/scipy_1641555170412/work
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
soupsieve==2.3.2.post1
stack-data==0.2.0
statsmodels==0.13.2
terminado==0.13.3
Theano-PyMC==1.1.2
tinycss2==1.1.1
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado==6.1
traitlets==5.1.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1656706066251/work
unicodedata2 @ file:///D:/bld/unicodedata2_1649112114189/work
urllib3==2.0.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.6.0
wincertstore==0.2
wrapt==1.14.1
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1664555688244/work
xarray-einstats @ file:///home/conda/feedstock_root/build_artifacts/xarray-einstats_1655671011237/work
yarg==0.1.9
